<p id="notice"><%= notice %></p>

<p>
  <strong>Event date:</strong>
  <%= @event.event_date %>
</p>

<p>
  <strong>Event address1:</strong>
  <%= @event.event_address1 %>
</p>

<p>
  <strong>Event address2:</strong>
  <%= @event.event_address2 %>
</p>

<p>
  <strong>Event city:</strong>
  <%= @event.event_city %>
</p>

<p>
  <strong>Event zip:</strong>
  <%= @event.event_zip %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Quisine:</strong>
  <%= @event.quisine %>
</p>

<p>
  <strong>Suggested donation:</strong>
  <%= @event.suggested_donation %>
</p>

<p>
  <strong>Max participants:</strong>
  <%= @event.max_participants %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
